<% content_for :title, "徳の軌跡" %>

<div class="w-full">
  <div class="flex justify-between items-center mb-6">
    <h1 class="font-bold text-4xl">徳の軌跡</h1>
  </div>

  <% if @posts.any? %>
    <div id="posts" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <% @posts.each do |post| %>
        <%= link_to post, class: "block bg-white rounded-xl shadow-inner hover:shadow p-5 transition" do %>
          <div class="space-y-3">
            <p class="text-sm text-gray-500">投稿者: <span class="font-medium text-gray-700"><%= post.user.name %></span></p>
            <h2 class="text-lg font-semibold text-gray-800"><%= post.title %></h2>
            <p class="text-sm text-gray-600"><%= post.recorded_on_formatted %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p class="text-center my-10 text-gray-500">投稿が見つかりませんでした。</p>
  <% end %>
</div>
